*,
*::after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "roboto", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@font-face {
  font-family: "shrikhand";
  src: url("../webfonts/Shrikhand-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto";
  src: url("../webfonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto";
  src: url("../webfonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: "roboto";
  src: url("../webfonts/Roboto-Light.ttf") format("truetype");
  font-weight: lighter; }

.title {
  margin: 1rem 0 0.5rem 0; }
  .title h1 {
    font-family: "shrikhand";
    font-weight: bold;
    text-align: center; }

.title__restaurant {
  margin: 1rem 0 0.5rem 0;
  position: relative; }
  .title__restaurant h1 {
    font-family: "shrikhand";
    font-weight: bold;
    text-align: center; }
  .title__restaurant h1 {
    margin: 0; }
  .title__restaurant .fas {
    position: absolute;
    top: 0.765rem;
    left: 1rem;
    font-size: 1.5rem; }

.footer {
  background-color: #353535;
  color: #fff;
  padding: 2rem 1.5rem; }
  .footer h2 {
    font-family: "shrikhand";
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 1rem; }
  .footer__nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5rem 0; }
    .footer__nav .links .fa-utensils {
      font-size: 0.9rem;
      margin-right: 0.6rem; }
    .footer__nav .links .fa-hands-helping {
      font-size: 0.7rem;
      margin-right: 0.4rem; }

.btn {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to left top, #9356dc, #ff79da);
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e;
          box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e; }
  .btn:hover {
    background: -webkit-gradient(linear, right bottom, left top, from(#a16be0), to(#ff93e1));
    background: linear-gradient(to left top, #a16be0, #ff93e1);
    -webkit-box-shadow: 0.5rem 0.5rem 1rem 0 #7e7e7e;
            box-shadow: 0.5rem 0.5rem 1rem 0 #7e7e7e; }
  .btn:focus, .btn:active {
    outline: none; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem 0;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e;
          box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e; }
  .cards .restaurants__desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .cards .restaurants__desc h2 {
      font-size: 1.1rem;
      margin: 0.75rem 0 0.25rem 0.75rem; }
    .cards .restaurants__desc p {
      margin: 0 0 0.75rem 0.75rem; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1rem; }

.homepage__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eaeaea;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem; }
  .homepage__form__input {
    background-color: #eaeaea;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    width: 8rem;
    margin: 0 1rem; }
    .homepage__form__input:focus {
      outline: none; }

.homepage__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  text-align: center; }
  .homepage__explore h1 {
    font-size: 1.5rem;
    margin: 2rem 3rem 1rem; }
  .homepage__explore p {
    font-weight: lighter;
    margin: 0 1rem; }
  .homepage__explore .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2rem auto 3rem;
    padding: 1rem; }

.operation {
  padding: 1rem; }
  .operation h1 {
    margin-top: 2rem; }
  .operation__nav {
    padding: 0 1rem; }
    .operation__nav ol {
      counter-reset: list; }
      .operation__nav ol li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #f6f6f6;
        font-weight: bold;
        border-radius: 1rem;
        line-height: 1.5rem;
        margin: 2rem 0;
        padding: 1.6rem 1.4rem;
        -webkit-box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e;
                box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e; }
        .operation__nav ol li i {
          color: #7e7e7e;
          margin: 0 1.25rem 0 0.75rem;
          font-size: 1.2rem; }
        .operation__nav ol li:before {
          position: absolute;
          counter-increment: list;
          content: counter(list);
          background-color: #9356dc;
          color: #fff;
          text-align: center;
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
          border-radius: 50%;
          left: 1.3rem; }
        .operation__nav ol li:hover, .operation__nav ol li:active {
          background-color: #f5edff; }
          .operation__nav ol li:hover i, .operation__nav ol li:active i {
            color: #9356dc; }

.restaurants {
  background-color: #f6f6f6;
  padding: 1rem; }
  .restaurants h1 {
    margin-top: 2rem; }
  .restaurants .links__restaurants {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 15.625rem; }
    .restaurants .links__restaurants figure {
      position: relative;
      overflow: hidden;
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border-radius: 1rem 1rem 0 0; }
      .restaurants .links__restaurants figure img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .restaurants .links__restaurants figure img {
        padding-bottom: 14%; }
      .restaurants .links__restaurants figure .new {
        position: absolute;
        background-color: #99e2d0;
        font-weight: bold;
        font-size: 0.875rem;
        border-radius: 0.125rem;
        color: #278870;
        padding: 0.375rem 0.75rem;
        right: 1rem;
        top: 1rem; }
  .restaurants__core {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .restaurants__core .heart {
      background-color: #fff;
      border: none;
      border-radius: 1rem;
      font-size: 1.5rem; }
      .restaurants__core .heart .fas {
        position: relative;
        color: #fff;
        opacity: 0; }
      .restaurants__core .heart .far {
        position: absolute; }
      .restaurants__core .heart .fa-heart {
        margin: 1rem; }
      .restaurants__core .heart:active, .restaurants__core .heart:focus {
        outline: none; }
        .restaurants__core .heart:active .fas, .restaurants__core .heart:focus .fas {
          opacity: 1;
          background: -webkit-gradient(linear, right top, left bottom, from(#9356dc), to(#ff79da));
          background: linear-gradient(to bottom left, #9356dc, #ff79da);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-transition: 2s;
          transition: 2s; }
        .restaurants__core .heart:active .far, .restaurants__core .heart:focus .far {
          opacity: 0; }

.restaurants__title h1 {
  font-family: "shrikhand"; }

.restaurants__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem; }
  .restaurants__menu footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.fig__restaurants {
  height: 15.625rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .fig__restaurants img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.restaurants__article {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0; }

.restaurants__section {
  padding: 1rem; }
  .restaurants__section h1 {
    position: relative;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 2rem 0 1.5rem 0; }
    .restaurants__section h1::after {
      content: "";
      position: absolute;
      background-color: #99e2d0;
      width: 2.5rem;
      height: 0.25rem;
      top: 1.5rem;
      left: 0; }
  .restaurants__section .restaurants__desc p {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.925rem; }
  .restaurants__section footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .restaurants__section footer .btn {
      padding: 1rem 3rem;
      margin: 2rem 0 3rem 0; }
/*# sourceMappingURL=styles.css.map */