@font-face {
  font-family: "shrikhand";
  src: url("../webfonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../webfonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../webfonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "roboto";
  src: url("../webfonts/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
}
