@import "reset";
@import "fonts";
@import "variables";

header {
  .title {
    font-family: $logo-font;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
  }
  form {
    display: flex;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    height: 3rem;
    input {
      background-color: #eaeaea;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      width: 8rem;
      margin: 0 1rem;
    }
  }
}
.header__explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  text-align: center;
  h1 {
    margin: 2rem 3rem 1rem;
  }
  p {
    font-weight: lighter;
    margin: 0 1rem;
  }
  button {
    background: linear-gradient(to left top, $primary-color, $secondary-color);
    color: white;
    border: none;
    font-weight: bold;
    width: 12rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 2rem auto 3rem;
    box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e;
  }
}
.operation {
  padding: 1rem;
  h1 {
    margin: 2rem 0 0 1rem;
  }
  nav {
    padding: 0 1rem;
    ol {
      counter-reset: list;
      li {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        font-weight: bold;
        box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e;
        border-radius: 1rem;
        line-height: 1.5rem;
        margin: 2rem 0;
        padding: 1.6rem 1.4rem;
        i {
          color: #7e7e7e;
          margin: 0 1.25rem 0 0.75rem;
          font-size: 1.2rem;
        }
        &:before {
          position: absolute;
          counter-increment: list;
          content: counter(list);
          background-color: $primary-color;
          color: white;
          text-align: center;
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
          border-radius: 50%;
          left: 1.4rem;
        }
        &:hover {
          background-color: #f5edff;
          i {
            color: $primary-color;
          }
        }
      }
    }
  }
}
.restaurants {
  background-color: #f6f6f6;
  padding: 1rem;
  h1 {
    margin: 2rem 0 0 1rem;
  }
  a {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e;
    border-radius: 1rem;
    margin: 2rem 0;
    height: 15.625em;
    figure {
      position: relative;
      flex: 1;
      img {
        position: absolute;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        width: 100%;
        height: 100%;
      }
      .txt {
        position: absolute;
        background-color: $tertiary-color;
        font-weight: bold;
        border-radius: 0.125rem;
        color: darken($color: $tertiary-color, $amount: 30%);
        padding: 0.5rem;
        right: 1rem;
        top: 1rem;
      }
    }
    .restaurants__footer {
      display: flex;
      .restaurants__desc {
        flex: 1;
        h2 {
          font-size: 1.2rem;
          margin: 0.75rem 0 0.25rem 1rem;
        }
        p {
          margin: 0 0 0.75rem 1rem;
        }
      }
      .heart {
        font-size: 2rem;
        margin: 1rem;
      }
    }
  }
}
footer {
  background-color: #353535;
  color: #fff;
  padding: 2rem 1rem;
  h2 {
    font-family: $logo-font;
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .footer__nav {
    li {
      display: flex;
      margin: 0.5rem 0;
      align-items: center;
      .fa-utensils {
        font-size: 0.9rem;
        margin-right: 0.6rem;
      }
      .fa-hands-helping {
        font-size: 0.7rem;
        margin-right: 0.4rem;
      }
    }
  }
}
