@import "reset";
@import "fonts";
@import "variables";
@import "mixins";

.btn {
  @include btn;
}
.cards {
  @include cards;
}
.price {
  @include price;
}
.title {
  @include title;
}

.homepage {
  form {
    display: flex;
    background-color: $form-bg;
    justify-content: center;
    align-items: center;
    height: 3rem;
    input {
      background-color: $form-bg;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      width: 8rem;
      margin: 0 1rem;
      &:focus {
        outline: none;
      }
    }
  }
  &__explore {
    display: flex;
    flex-direction: column;
    background-color: $base-bg;
    text-align: center;
    h1 {
      margin: 2rem 3rem 1rem;
    }
    p {
      font-weight: lighter;
      margin: 0 1rem;
    }
  }
}
.operation {
  padding: 1rem;
  h1 {
    margin-top: 2rem;
  }
  nav {
    padding: 0 1rem;
    ol {
      counter-reset: list;
      li {
        display: flex;
        align-items: center;
        background-color: $base-bg;
        font-weight: bold;
        border-radius: 1rem;
        line-height: 1.5rem;
        margin: 2rem 0;
        padding: 1.6rem 1.4rem;
        @include shadow;
        i {
          color: #7e7e7e;
          margin: 0 1.25rem 0 0.75rem;
          font-size: 1.2rem;
        }
        &:before {
          position: absolute;
          counter-increment: list;
          content: counter(list);
          background-color: $primary-color;
          color: $white;
          text-align: center;
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
          border-radius: 50%;
          left: 1.3rem;
        }
        &:hover,
        &:active {
          background-color: $operation-bg;
          i {
            color: $primary-color;
          }
        }
      }
    }
  }
}
.restaurants {
  background-color: $base-bg;
  padding: 1rem;
  h1 {
    margin-top: 2rem;
  }
  .cards__restaurants {
    flex-direction: column;
    height: 15.625em;
    figure {
      position: relative;
      flex: 1;
      img {
        position: absolute;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        width: 100%;
        height: 100%;
      }
      .new {
        position: absolute;
        background-color: $tertiary-color;
        font-weight: bold;
        border-radius: 0.125rem;
        color: darken($color: $tertiary-color, $amount: 40%);
        padding: 0.5rem;
        right: 1rem;
        top: 1rem;
      }
    }
  }
  &__core {
    display: flex;
    .restaurants__desc {
      flex: 1;
      h2 {
        font-size: 1.2rem;
        margin: 0.75rem 0 0.25rem 1rem;
      }
      p {
        margin: 0 0 0.75rem 1rem;
      }
    }
    .heart {
      position: relative;
      font-size: 1.5rem;
      margin: 1rem;
      &--empty,
      &--full {
        position: absolute;
        right: 1rem;
      }
      &--hide {
        opacity: 0;
        color: $white;
      }
      &:active {
        .heart--empty {
          opacity: 0;
        }
        .heart--hide {
          opacity: 1;
        }
        .heart--full {
          background: linear-gradient(
            to bottom left,
            $primary-color,
            $secondary-color
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 2s;
        }
      }
    }
  }
}

.restaurants__article {
  display: flex;
  flex-direction: column;
  background-color: $base-bg;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem;
  footer {
    display: flex;
  }
}
.restaurants__page--title {
  h1 {
    font-family: $logo-font;
    margin-bottom: 2rem;
  }
  .heart--restaurant {
  }
}
.restaurants__fig {
  position: relative;
  height: 15.625rem;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.footer {
  background-color: $footer-bg;
  color: $white;
  padding: 2rem 1rem;
  h2 {
    font-family: $logo-font;
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  &__nav {
    .links {
      display: flex;
      color: $white;
      align-items: center;
      margin: 0.5rem 0;
      .fa-utensils {
        font-size: 0.9rem;
        margin-right: 0.6rem;
      }
      .fa-hands-helping {
        font-size: 0.7rem;
        margin-right: 0.4rem;
      }
    }
  }
}
