.title {
  margin: 1rem 0 0.5rem 0;
  h1 {
    font-family: "shrikhand";
    text-align: center;
  }
  &--restaurant {
    position: relative;
    .fas {
      position: absolute;
      top: 1rem;
      left: 1.5rem;
      font-size: 1.3rem;
    }
    @include media(xl) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
