.page {
  .nav {
    .homepage {
      &__form {
        display: flex;
        background-color: $form-bg;
        justify-content: center;
        align-items: center;
        height: 3rem;
        &__input {
          background-color: $form-bg;
          border: none;
          font-weight: bold;
          font-size: 1rem;
          width: 8rem;
          margin: 0 1rem;
          &:focus {
            outline: none;
          }
        }
      }
      &__explore {
        padding: 2rem 0 3rem;
        background-color: $base-bg;
        text-align: center;
        h2 {
          font-size: 1.5rem;
          margin: 0 3rem 1rem;
        }
        p {
          font-weight: 400;
          margin: 0 1rem;
        }
        .btn {
          margin: 2rem auto 0;
          padding: 1rem;
        }
      }
    }
    .operation {
      padding: 3rem 1rem 1rem;
      &__nav {
        padding-left: 0.5rem;
        ol {
          counter-reset: list;
          a {
            position: relative;
            display: flex;
            align-items: center;
            background-color: $base-bg;
            font-weight: bold;
            border-radius: 1rem;
            margin: 2rem 0;
            padding: 1.6rem 1.4rem;
            @include shadow;
            i {
              color: #7e7e7e;
              margin: 0 1.25rem 0 0.75rem;
              font-size: 1.2rem;
            }
            &:before {
              position: absolute;
              counter-increment: list;
              content: counter(list);
              background-color: $primary-color;
              color: $white;
              text-align: center;
              width: 1.5rem;
              line-height: 1.5rem;
              border-radius: 50%;
              left: -0.8rem;
            }
            &:hover,
            &:active {
              background-color: $operation-bg;
              i {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
  .restaurants {
    background-color: $base-bg;
    padding: 3rem 1rem 2rem;
    &__core {
      position: relative;
      .links__restaurants {
        flex-direction: column;
        height: $img-size;
        figure {
          @include img-ratio;
          border-radius: 1rem 1rem 0 0;
        }
      }
      .heart {
        position: absolute;
        bottom: 1rem;
        right: 1.5rem;
      }
    }
  }
  @include media(sm) {
    .operation {
      h2 {
        text-align: center;
      }
    }
    .restaurants__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      padding: 1rem 0;
      .cards {
        margin: 0;
      }
    }
    .restaurants {
      header {
        h2 {
          text-align: center;
        }
      }
    }
  }
  @include media(md) {
    .operation {
      &__nav {
        ol {
          display: flex;
          justify-content: center;
          li {
            margin: 0 1rem;
            a {
              padding: 1rem;
              i {
                margin: 0 0.75rem;
              }
            }
          }
        }
      }
    }
    .restaurants {
      padding: 3rem 2rem 2rem;
      &__grid {
        gap: 2rem;
      }
    }
  }
  @include media(lg) {
    .operation {
      &__nav {
        ol {
          justify-content: space-around;
        }
      }
    }
    .restaurants {
      padding: 3rem;
      &__grid {
        gap: 3rem;
      }
    }
  }
  @include media(xl) {
    max-width: 1200px;
    margin: 0 auto;
    .operation {
      border-left: 2px solid $base-bg;
      border-right: 2px solid $base-bg;
    }
    .restaurants {
      padding: 4rem;
      &__grid {
        gap: 4rem;
      }
    }
  }
}
