.fig__restaurants {
  @include img-ratio;
  height: $img-size;
}
.restaurants__article {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $base-bg;
  border-radius: 3rem 3rem 0 0;
  margin-top: -3rem;
  z-index: 1;
  .restaurants__core {
    position: relative;
    align-items: center;
    margin: 2rem 1rem 0 1rem;
    h2 {
      font-family: "shrikhand";
      flex: 1;
      font-size: 1.75rem;
    }
    .heart {
      position: absolute;
      bottom: -0.5rem;
      background-color: $base-bg;
    }
  }
}
.restaurants__section {
  padding: 0 1rem;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    margin: 2rem 0 1.5rem 0;
    font-size: 1rem;
    &::after {
      content: "";
      position: absolute;
      background-color: $tertiary-color;
      width: 2.5rem;
      height: 0.25rem;
      top: 1.5rem;
      left: 0;
    }
  }
  .cards {
    position: relative;
    overflow: hidden;
    animation: cards 1s;
    &:hover {
      .price {
        margin-right: 5rem;
        transition: margin-right 500ms;
      }
      .check {
        transform: translateX(0);
        transition: transform 500ms;
        i {
          transform: rotate(360deg);
          transition: transform 500ms;
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    .btn {
      padding: 1rem 3rem;
      margin: 2rem 0 3rem 0;
    }
  }
  .restaurants__desc {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    h2 {
      text-transform: none;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.95rem;
    }
  }
}
