.btn {
  background: linear-gradient(to left top, $primary-color, $secondary-color);
  color: $white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2rem;
  @include shadow;
  &:hover {
    background: linear-gradient(
      to left top,
      lighten($primary-color, 5%),
      lighten($secondary-color, 5%)
    );
    box-shadow: 0.5rem 0.5rem 1rem 0 #7e7e7e;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
