.check {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: $tertiary-color;
  color: $white;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
  font-size: 1.25rem;
  padding: 1rem 1.25rem;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(5rem);
  i {
    transform: rotate(0deg);
  }
}
