.loader-omf {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  z-index: 10;
  opacity: 1;
  width: 100%;
  height: 100%;
  animation: loader-screen 3s ease-in-out forwards;
  h2 {
    font-family: "shrikhand";
    font-size: 2rem;
  }
  .loader {
    display: flex;
    justify-content: space-evenly;
    width: 10rem;
    height: 4rem;
    &__bar {
      height: 100%;
      width: 1rem;
      animation: loader 1s backwards infinite alternate ease-in-out;
      @include loader(0.2);
    }
  }
}
@keyframes loader {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loader-screen {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
